@import '../../pages/_variables.scss';

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p {
    @include themed() {
      color: theme-color($theme, 'text-primary');
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      transition: color 0.3s ease;
      @include themed() {
        color: theme-color($theme, 'link');
        &:hover {
          color: theme-color($theme, 'link-hover');
        }
      }
    }
  }
}
