.container {
  padding: 0.5rem 0.75rem;
  border: 1px solid hsl(240 3.7% 15.9%);
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}

.input {
  all: unset;
  min-height: 1.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  width: 100%;
  color: hsl(0 0% 98%);
  font-family: "Geist Mono";
}
