.navBar {
  margin-top: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 32px;
  color: #f9f6ee;
  padding: 0.5rem 0;
  display: flex;
  z-index: 4;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navBarContents {
  padding: 0 0.5rem;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > * {
    margin: 0;
    font-size: 16px;
    color: rgb(68, 68, 74);
  }
}

.foundContainer {
  * {
    all: unset;
    font-family: Soria;
    color: #f9f6ee;
  }
  padding: 8px 16px;
  height: 16px;
  border: 1px solid hsla(0, 0%, 100%, 0.14);
  border-radius: 128px;
}

.navLinks {
  all: unset;
  border: 1px solid hsla(0, 0%, 100%, 0.14);
  border-radius: 128px;
  padding: 0.5rem 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 8px;

  font-family: Soria;

  list-style-type: none;

  a {
    text-decoration: none;
    padding: 0.3rem 1rem;
  }

  a:hover {
    border-radius: 128px;
    background: hsla(0, 0%, 100%, 0.09);
  }

  :visited {
    color: #f2f2f2;
  }
}

.activeLink {
  background: #f9f6ee !important;
  border-radius: 128px;
  padding: 0.3rem 1rem;
  color: #0a0a0a !important;
}
