@import '../../pages/_variables.scss';

.page {
  p,
  li {
    @include themed() {
      color: theme-color($theme, 'text-primary');
    }
    font-weight: 300;
    line-height: 1.75;
    text-align: justify;
  }
  a {
    text-decoration: underline;
  }
}

.header {
  margin-top: 16px;
}

.title {
  @include themed() {
    color: theme-color($theme, 'text-primary');
  }
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
}

.time {
  @include themed() {
    color: theme-color($theme, 'text-secondary');
  }
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.description {
  * {
    @include themed() {
      color: theme-color($theme, 'text-secondary') !important;
    }
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: italic;
  }
}
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 14px;
}

.chip {
  @include themed() {
    background-color: theme-color($theme, 'bg-secondary');
    color: theme-color($theme, 'text-primary');
  }
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
