@import '../../pages/_variables.scss';

.page {
  p,
  li {
    @include themed() {
      color: theme-color($theme, 'text-primary');
    }
    font-weight: 300;
    line-height: 1.75;
  }
}

.header {
  margin-top: 16px;
}

.title {
  @include themed() {
    color: theme-color($theme, 'text-primary');
  }
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.time {
  @include themed() {
    color: theme-color($theme, 'text-secondary');
  }
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.description {
  * {
    @include themed() {
      color: theme-color($theme, 'text-secondary') !important;
    }
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: italic;
  }
}
