.hidden {
  display: none;
}

.visible {
  display: flex;
  height: 100dvh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.modalBackground {
  position: absolute;
  z-index: 2;
  background: black;
  opacity: 0.75;
  height: 100dvh;
  width: 100vw;
  top: 0;
  right: 0;
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  background: hsl(240 10% 3.9%);
  border: 1px solid hsl(240 3.7% 15.9%);
  padding: 1.5rem;
  color: #f2f2f2;
  z-index: 3;
  border-radius: 4px;
  overflow-y: auto;
}

.modal > p {
  margin-top: 0;
}

.codeBlock {
  font-family: "Geist Mono";
  font-size: 0.85rem;
  background: hsl(240 3.7% 15.9%);
  width: min-content;
  border-radius: 4px;
  padding: 0.25rem;
  margin: 0.25rem;
}
