.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  * {
    margin: 0;
  }
}

p {
  color: #a1a1a1;
}

h1 {
  font-family: "Soria";
  font-size: 200px;
  z-index: 1;
  color: #f9f6ee;
}
