@import '../_variables.scss';

.container {
  @include themed() {
    color: theme-color($theme, 'text-primary');
  }

  h1 {
    @include themed() {
      color: theme-color($theme, 'text-primary');
    }
    font-size: 24px;
    font-weight: 500;
  }

  * {
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    @include themed() {
      color: theme-color($theme, 'text-secondary');
    }
  }
}
