@import '../../pages/_variables.scss';

.footer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    @include themed() {
      color: theme-color($theme, 'text-secondary');
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      @include themed() {
        color: theme-color($theme, 'text-secondary');
      }
    }

    a:hover {
      @include themed() {
        color: theme-color($theme, 'text-primary');
      }
      transition: all 0.5s ease;
    }
  }
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
  }

  .footer ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
