@import '../../pages/_variables.scss';

.posts {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.posts li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  height: 18px;
}

.posts .time {
  @include themed() {
    color: theme-color($theme, 'text-secondary');
  }
}

.posts .title {
  @include themed() {
    color: theme-color($theme, 'text-primary');
  }
}

.posts .title a {
  @include themed() {
    color: theme-color($theme, 'text-primary');
  }
  text-decoration: none;
  font-weight: 400;
}

.chip {
  @include themed() {
    background-color: theme-color($theme, 'bg-secondary');
    color: theme-color($theme, 'text-primary');
  }
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
}
