@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/Geist-Regular.otf") format("otf");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/GeistMono-Regular.otf") format("otf");
}
@font-face {
  font-family: "Geist Light";
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/Geist-Light.otf") format("otf");
}
@font-face {
  font-family: "Geist Mono Light";
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/GeistMono-Light.otf") format("otf");
}
html {
  height: 100svh;
  font-family: "Geist Light";
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(240 10% 3.9%);
}

#root {
  width: 100vw;
}

p,
h1,
h2,
h3,
input {
  color: hsl(0 0% 98%);
  line-height: 1.75rem;
  margin: 1.25rem 0;
}
